/* *{
  margin: 0;
  padding: 0;
} */
#root {
  width:100%;
  height:auto;
  gap: 100px;
  /* display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center; */
  /* border: 2px solid rgb(207, 18, 18); */
  /* padding:px; */
  box-sizing: border-box;
}
@media only screen and (width<835px) {
 #root{
  height:7500px;
 }
}